.btn-heart{
    /*font-family: Segoe UI Symbol;*/
    font-size: 48px;
    width: 1%;
    height: -10px;
}

.view-button{
    width:40px;
    display: inline !important;
    font-size: 20px !important;
    background-color: #81ABBC !important;
    
    font-weight: bold !important;
}


 