.form{
    text-align:center;
}
.btn-login{
   
        background-color:#0C124E;
      
       border: none;
     color: black; 
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block; 
      margin: 4px 2px;
      cursor: pointer; 
      border-radius: 14px;
    
}
.person{
    float: center;
}